.App {
  text-align: center;
  display: flex; /* Enable flexbox layout */
  width: 100%;
  height: 100vh; /* Ensure the height fills the viewport */
  flex-direction: row-reverse;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.popup-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5) !important;
  padding: 0px;
  border-radius: 5px; /* Optional: rounded corners */
}

.popup-content img {
  display: block;
  margin: 0 auto;
}

.custom-marker-icon {
  width: 10px;
  height: 10px;
  background-color: #FF8000;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4px;
  color: white;
}

.custom-cluster-icon {
  background-color: #FF8000;
  color: black;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.country-marker-icon {
  height: 15px; /* Adjust as needed for proper vertical alignment */
  width: 15px;
  white-space: nowrap; /* Prevent text from wrapping */
  background-color: #4169E1;
  border-radius: 50%;
  display: flex;
  border: 2px solid dodgerblue;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  font-size: 10px;
  font-weight: bold;
  color: black;
}

.map-data-container {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.map-data-container > * {
  width: 100%;
}

.map-data-container > :first-child { /* MapComponent */
  height: 70%;
}

.map-data-container > :nth-child(2) { /* DataTable */
  height: 30%;
  overflow-y: auto; /* Enable scrolling if needed */
}

/* Container for the right side components (30% width) */
.right-side-container {
  width: 30%;
  height: 100vh;
  padding: 20px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  align-items: center;
}

/* Optional for Player Details section */
.player-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import 'leaflet/dist/leaflet.css';
